body {
    background: url('../images/destinations-3.jpg')repeat;
    background-size: 100%;
    height: 140px;
    display: block;
    padding: 0 !important;
    margin: 0;
}

#logo {
    width: 160px;
}

#login,
#register {
    margin-top: 13px;
}

nav {
    z-index: 1;
}

#inscription {
    font-family: 'Lobster', cursive;
    color: #3A68FF;
    font-size: 40px;
}

.navbar {
    margin: 8px;
    opacity: 0.8;
    font-size: 1.3em;
}

.dropbtn {
    padding: 16px;
    border: none;
    background-color: white;
}

.dropbtn:hover {
    background-color: #93A0FF;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 28px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #93A0FF;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.background-white {
    background-color: white;
    width: 70%;
    margin-left: 200px;
}

.map {
    margin-left: 50px;
}

.info {
    padding: 30px;
    margin-left: 50px;
}

.login {
    margin-top: 5px;
    float: right;
}

.register {
     margin-top: 5px;
}

#search {
     margin-top: 25px;
     border-radius: 5px;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.form-control {
    margin-top: 23px;
    width: 270px;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}

#form-contact {
    margin-left: 55px;
}